.idea/*
.history
.vscode
node_modules/*
package-lock.json
client/node_modules/**
logs/**
npm-debug.log
/client/server.crt
/client/server.key
/client/src/frontend/public/js/bundle.js
/client/npm-shrinkwrap.json
/client/npm-shrinkwrap.json
/client/src/frontend/images/spritesmith-generated/sprite.png
/client/src/frontend/stylesheets/spritesmith-generated/sprite.scss
/client/src/frontend/public/img/sprite.png
