.idea/*
.history
.vscode
node_modules/*
package-lock.json
client/node_modules/**
logs/**
npm-debug.log
/client/src/frontend/public/**
/client/server.crt
/client/server.key
/sslcert/**
/client/npm-shrinkwrap.json
/client/npm-shrinkwrap.json
