.leader-list{
  text-align: center;
  padding:0;
  // font-weight: 600;
  .leader-row {
    list-style: none;
    // box-shadow: 2px 5px 0px 0px #000240;
    border: 1px solid #414d7e;
    // margin-bottom: 10px;
    // height: 55px;
    .leader-body {
      display: flex;
      .leader-rank{
        width: 40px;
        justify-self: center;
        align-self: center;
        font-size: 1.5rem;
        // font-weight: bold;
      }
      .leader-side {
        display:flex;
        padding: 5px;
        // flex: 1;
        .leader-image {
          width: 32px;
          height: 32px;
          align-self: center;
          border-radius: 50%;
        }
      }
      .leader-center {
        text-align: left;
        flex: 7;
        display: flex;
        .leader-name{
          flex: 2;
          align-self: center;
          font-size: 1.2rem;
          margin-inline-start: 3%;
        }
        .leader-score{
          text-align: right;
          margin: 5px;
          align-self: center;
          font-size: 1.6rem;
          min-width: 55px;
          // color:$title-4;
        }
        .leader-medals{
          display: flex;
          // min-width: 71px;
          margin-right: 5px;
          text-align: center;
          align-items: center;
          .leader-medal{
            // flex:1;
            flex-direction: column;
            .medals-size{
              font-size: 1em;
            }
            .gold-medal{
              color: #D9A441;
            }
            .sliver-medal{
              color: #CCC2C2;
            }
            .bronze-medal{
              color: #965A38;
            }
          }
        }
      }
    }
  }
}

