.leader-list{
  text-align: center;
  padding:0;
  font-weight: 600;
  .leader-row {
    list-style: none;
    border: 1px solid;
    .leader-body {
      display: flex;
      background: $background-5;
      .leader-rank{
        width: 40px;
        justify-self: center;
        align-self: center;
        font-size: 1.5rem;
        font-weight: bold;
        color:$title-3;
      }
      .leader-side {
        display:flex;
        padding: 5px;
        flex: 1;
        .leader-image {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          align-self: center;
        }
      }
      .leader-center {
        text-align: left;
        // padding-left: 1px;
        // padding-top: 5px;
        flex: 7;
        display: flex;
        .leader-name{
          flex: 2;
          align-self: center;
          font-size: 1.2rem;
          color:$title-3
        }
        .leader-score{
          text-align: right;
          margin: 5px;
          align-self: center;
          font-size: 1.5rem;
          color:$title-4;
        }
        .leader-medals{
          display: flex;
          min-width: 71px;
          margin-right: 5px;
          text-align: center;
          .leader-medal{
            // flex:1;
            flex-direction: column;
            .gold-medal{
              color: #D9A441;
            }
            .sliver-medal{
              color: #CCC2C2;
            }
            .bronze-medal{
              color: #965A38;
            }
          }
        }
      }
    }
  }
}

