@import '../spritesmith-generated/sprite';

//.winner-icon{
//  background: url($winner-image) no-repeat;
//  background-position-x: $winner-offset-x;
//  background-position-y: $winner-offset-y;
//  width: 60px;
//  height: 60px;
//  border-radius: 60px;
//}
.mute-btn{
  top: 5px;
  right: 5px;
  padding: 10px 5px !important;
  position: absolute;
  background: transparent !important;
  color: white !important;
  z-index: 100;
}
.login-page-bg {
    background: url($bg-image);
    background-position-x: $bg-offset-x;
    background-position-y: $bg-offset-y;
    //filter: blur(8px);
    //-webkit-filter: blur(8px);
  /* Full height */
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.login-page {
  position: absolute;
  top: 0;
  width: 100%;
  color: white;
  font-family: 'Titillium web', sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 20px;
  .error-message{
    height: 23px;
  }
  .login-logo{
    background: url($logo);
    background-repeat: no-repeat;;
    width: 60px;
    height: 60px;
    margin: auto;
  }
  .login-button {
    font-family: 'Titillium web', sans-serif;
    background-color: white !important;
    color: var(--title-3) !important;
    border-radius: 0 !important;
  }

  .sign-up-button {
    color: white !important;
    border-radius: 0 !important;
    font-weight: 600;
    font-style: normal;
    margin-left: 5px;
  }
  .social-login-title{
    overflow: hidden;
    text-align: center;
    margin-bottom: 2rem;
    &:before, &:after{
      background-color: #fff;
      content: "";
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 50%;
    }
    &:before{
      right: 0.5em;
      margin-left: -50%;
    }
    &:after{
      left: 0.5em;
      margin-right: -50%;
    }
  }
  .login-header{
    font-family: 'Titillium web', sans-serif;
    color: white !important;
    font-size: 24px;
  }
  .login-sub-header{
    font-family: 'Titillium web', sans-serif;
    color: white !important;
    font-size: 16px;
  }
  .login-help{
    margin-top: 0px;
    font-size: 12px;
    .left {
      text-align: left;
    }
    .right {
      text-align: right;
    }
  }
  .login-input {
    border-radius: 0;
    margin: 0 0 0.2em !important;
    input {
      background-color: var(--background-3) !important;
      font-family: 'Titillium web', sans-serif !important;
      font-style: italic;
      border-radius: 0px !important;
    }
    i {
      color: white !important;
    }
    input::placeholder {
      color: white !important;
    }
  }
  .social-login-container{
    height: 100%;
    .social-button {
      display: block;
      padding: 0;
      height: 40px;
      background-color: white !important;
      border-radius: 0px;
      margin-bottom: 5px;
      font-family: 'Titillium web', sans-serif;
      font-weight: 700;
      i {
        color: inherit !important;
      }
    }
    .facebook-button{
      color: #3b5998;
    }
    .google-button{
      color: #dd4b39;
    }
  }

}

@media only screen and (max-width: 767px){
  #app .social-login-container{
    margin-top: 0 !important;
    padding-top: 0px !important;
  }
}