@import '../spritesmith-generated/sprite';

//.winner-icon{
//  background: url($winner-image) no-repeat;
//  background-position-x: $winner-offset-x;
//  background-position-y: $winner-offset-y;
//  width: 60px;
//  height: 60px;
//  border-radius: 60px;
//}
.login-page-bg {
    background: url($bg-image);
    background-position-x: $bg-offset-x;
    background-position-y: $bg-offset-y;
    //filter: blur(8px);
    //-webkit-filter: blur(8px);
  /* Full height */
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.login-page {
  background:linear-gradient($background-6, $background-1);
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 90%;
  color: white;
  font-family: 'Titillium web', sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 20px;
  .login-button {
    font-family: 'Titillium web', sans-serif;
    background-color: white !important;
    color: $title-3 !important;
    border-radius: 0 !important;
  }

  .sign-up-button {
    color: white !important;
    border-radius: 0 !important;
    font-weight: 600;
    font-style: normal;
    margin-left: 5px;
  }

  .login-header{
    padding-top: 50px;
    font-family: 'Titillium web', sans-serif;
    color: white !important;
    height: 150px;
  }
  .login-help{
    margin-top: 0px;
    font-size: 12px;
    .left {
      text-align: left;
    }
    .right {
      text-align: right;
    }
  }
  .login-input {
    border-radius: 0;
    margin: 0 0 0.2em !important;
    input {
      background-color: $background-3 !important;
      font-family: 'Titillium web', sans-serif !important;
      font-style: italic;
      border-radius: 0px !important;
    }
    i {
      color: white !important;
    }
    input::placeholder {
      color: white !important;
    }
  }

  .social-button {
    display: inline-block;
    button{
      padding: 0;
      border-radius: 35px ;
      width: 35px ;
      height: 35px;
    }
    margin-left: 5px;
  }
  .facebook-button{
    button{
      border-radius: 38px;
      width: 38px;
      height: 38px;
    }
  }
}

@media only screen and (max-width: 767px){
  #app .social-login-container{
    margin-top: 0 !important;
  }
  #app .login-container {
    min-height: 300px;
  }
}