.bottom-menu{
  display: flex;
  .item{
    flex: 1
  }
  .item.disabled {
    color: rgba(225,225,225,.3) !important;
  }
}
.bet-pad{
  position: absolute;
  border: 1px solid;
  display: flex;
  width: 95%;
  font-size: 24px;
  background-color: lightgreen;
  .bet-pad-score{
    flex: 1;
    border: 1px solid;
  }
  .bet-pad-score.bet-pad-score-selected{
    background-color: lime;
  }
}

.app-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  > .app-inner {
    background: #efefef;
    padding-top: 60px;
    height: 100%;
  }
}
