#content{
  margin-top: 30px;
}
.search-pools {
    display: flex;
    .search-type {
      flex: 2;
      display: flex;
      line-height: 35px;
      color: $title-4;
      input {
        accent-color: $title-4;
      }
      label {
        margin-left: 10px;
      }
    }
    .search-type-private{
        flex: 5;
    }
    .private-code{
      margin-left: 10px;
      flex: 2;
      display: flex;
      align-items: center;
      font-size: 16px;
      input {
        line-height: 1.55;
        width: 80px;
        font-size: 13px;
      }
      button {
        padding: 5px;
        font-size: 10px;
      }
    }
}

.bottom-menu{
  .disabled {
    color: rgba(225,225,225,.3) !important;
  }
}
.pool-list{
  font-family: 'Titillium web', sans-serif;
  text-align: center;
  padding:0;
  .pool-closed {
    opacity: 0.3;
  }
  .pool {
    list-style: none;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    background-color: $background-frame;
    border: 1px solid $background-7;
    margin-bottom: 10px;
    height: 110px;
    display: flex;
    cursor: pointer;
    .pool-left-side{
      padding: 5px 20px 5px 20px;
      font-size: 16px;
      font-weight: 600;
      text-align: left;
       color: $title-1;
       flex: 13;
      .pool-left-side-center{
        margin-top: 5px;
      }
      .pool-left-title{
        white-space: break-spaces;
      }
      .pool-left-detail{
        display: flex;
        .pool-left-detail-header{
            flex: 6;
            font-weight: 600;
            font-size: 12px;
        }
        .pool-left-detail-value{
          flex: 6;
          margin-right: 0;
          text-align: right;
          font-size: 12px;
          font-weight: 600;
        }
      }
    }
    .pool-right-side {
       padding: 5px 0px;
       color: $title-2;
       background-color: $background-3;
       flex: 11;
      font-weight: 600;
      font-size: 16px;
      .pool-right-title{
        img{
          height: 35px;
          width: 35px;
        }
        border-bottom: 2px solid $background-frame;

      }
    }
    .pool-footer{
      background-color: #fafafa;
      text-align: right;
      padding: 5px;
    }
  }
  }

