.challenge-row {
  margin-top: 25px;
  list-style: none;
  border: 1px solid #414d7e;
  box-shadow: -1px 3px 0px 0px #000000;
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
  .game-title {
    display: flex;
    font-size: 12px;
    padding: 3px 0 10px 10px;
  }
  .game-body {
    display: flex;
    .team-score {
      flex: 4;
      display: flex;
      align-items: center;
      justify-content: center;
      .team-details {
        flex: 6;
        display: flex;
        flex-direction: column;
        align-items: center;
        .team-flag {
          display: block;
          width: 55px;
          height: 55px;
          background-color: #ffffff;
          padding: 8px;
          opacity: 0.8;
          border-radius: 36px;
          .team-image{
            width: 100%;
            height: 100%
          }
        }
        .team-name {
          font-size: 12px;
          margin-top: 5px;
        }
      }
    }
    .game-result {
      flex: 2;
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.6em;
      .match-tip {
        i {
          padding-left: 3px;
        }
      }
    }
  }
}

.users-bets-list {
  padding: 0;
  margin-top: 0;
  .user-bet-row {
    display: flex;
    list-style: none;
    box-shadow: -1px 3px 0px 0px #000000;
    border: 1px solid #414d7e;
    margin-bottom: 10px;
    height: 35px;
    font-size: 14px;
    padding-left:5px;
    > div {
      align-self: center;
    }
    .user-bet-center {
      text-align: left;
      flex: 7;
      line-height: 1.4;
      display: flex;
      margin-left: 5px;
      flex-direction: column;
      .user-bet-rank {
        font-size: 7px;
      }
      .user-bet-name {
        flex: 2;
      }
    }
    .user-bet-score {
      height: 100%;
      display:flex;
      padding: 5px;
      flex: 2;
      flex-grow: 4;
      background-color: #608ba8;
      justify-content: center;
      align-items: center;
      font-size: 1.0em;
      .users-bets-use-it{
        margin-left: 5px;
        a {
          text-decoration: underline;
          color: $title-1;
        }
      }
    }
    .user-bet-side {
      display:flex;
      padding: 5px;
      flex: 1;

      .user-bet-image {
        width: 2.285em;
        height: 2.285em;
        align-self: center;
        border-radius: 50%;
      }
    }
  }
}
