$liDisabled: #414d7e;
$background-1: #0C4262;
$background-2: #00438E;
$background-3: #6d8ea1;
$background-4: #3d7498;
$background-5: rgba(255, 255, 255, 0.4);
$background-6: #154458;
$background-7: #414d7e;
$background-8: rgba(239,239,239,0.7);
$background-frame:#082639;
$title-1:#EFBA9A;
$title-11: #ffffff ;
$title-2:#0C4262;
$title-3: #608ba8;
$title-4:rgb(255, 217, 0);

